* {
    border: none;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 10px;
    min-height: 11px;
}


/* COLORS */
@import "theme.css";
@define-color dark          #181825;
@define-color mid           #1e1e2e;
@define-color bright        #313244;
@define-color off-white     #f2e4cb;

window#waybar {
    background: transparent;
}

tooltip {
    background: @main-bg;
    color: @main-fg;
    border: solid;
    border-radius: 7px;
    border-width: 1px;
    border-color: white;
}

/* WORKSPACE BUTTONS */
#workspaces button {
    box-shadow: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    padding: 0px;
    border-radius: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 0px;
    color: @off-white;
    animation: ws_normal 20s ease-in-out 1;
}
#workspaces button.active {
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 1);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    background: @off-white;
    color: @wb-act-fg;
    margin-left: 2px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 2px;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}
#workspaces button:hover {
    background: #d9ba85;
    color: @wb-hvr-fg;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

/* SPACING */
#custom-ws,
#workspaces,
#window,
#custom-cpuinfo
#memory,
#cpu,
#clock,
#pulseaudio,
#backlight,
#battery,
#custom-power,
#mpris,
#custom-notifications {
    margin-bottom: 0px;
    opacity: 1;
    padding-left: 4px;
    padding-right: 4px;
}


/* MODULES */
/* WINDOW ICON */
#custom-paddl {
    font-size: 11.5pt;
    margin-bottom: -2px;
    padding-right: 2px;
    background: @main-bg;
}
#custom-ws {
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    background: @main-bg;
}
#custom-left1 {
    font-size: 11.5pt;
    color: @mid;
    background: @mid;
    margin-bottom: -2px;
    padding-left: 2px;
}

/* WORKSPACES */
#workspaces {
    padding: 0;
    background: @bright;
}
#custom-right1 {
    font-size: 11.5pt;
    color: @mid;
    background: @dark;
    margin-bottom: -2px;
    padding-right: 3px;
}

/* WINDOW TITLE */
#custom-rightin2 {
    font-size: 11.5pt;
    color: @dark;
    background: @dark;
    margin-bottom: -2px;
}

#window {
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    color: @off-white;
    background: @dark;
}

#custom-right6 {
    font-size: 11.5pt;
    color: @dark;
    background: transparent;
    margin-bottom: -2px;
    padding-right: 3px;
}

/* TEMPERATURE */
#custom-paddc {
    padding-right: 3px;
}
#custom-left2 {
    font-size: 11.5pt;
    color: @dark;
    background: transparent;
    margin-bottom: -2px;
    border-radius: 10px;
    padding-left: 3px;
}
#custom-cpuinfo {
    padding-left: 1px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    background: @dark;
}

/* MEMORY */
#memory {
    padding-left: 1px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    background: @mid;
    color: @off-white;
}
#custom-left4 {
    font-size: 11.5pt;
    color: @bright;
    background: @mid;
    margin-bottom: -2px;
    padding-left: 3px;
}

/* CPU */
#cpu {
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    background: @bright;
    color: @off-white;
}
#custom-leftin1 {
    font-size: 11.5pt;
    color: @bright;
    background: @main-bg;
    margin-bottom: -2px;
}

/* MENU */
#custom-left5 {
    font-size: 11.5pt;
    color: @off-white;
    background: @main-bg;
    margin-bottom: -2px;
    padding-left: 3px;
}
#custom-menu {
	text-shadow: none;
    color: @mid;
    font-size: 13pt;
    padding-left: 3px;
    padding-right: 2px;
    background: @off-white;
    margin-bottom: -2px;
}
#custom-right2 {
    font-size: 11.5pt;
    color: @off-white;
    background: @main-bg;
    margin-bottom: -2px;
    padding-right: 3px;
}

/* TIME */
#custom-rightin1 {
    font-size: 11.5pt;
    color: @bright;
    background: @main-bg;
    margin-bottom: -2px;
}
#clock.time {
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    background: @bright;
    color: @off-white;
}
#custom-right3 {
    font-size: 11.5pt;
    color: @bright;
    background: @mid;
    margin-bottom: -2px;
    padding-right: 3px;
}

/* DATE */
#clock.date {
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    background: @mid;
    color: @off-white;
}
#custom-right4 {
    font-size: 11.5pt;
    color: @mid;
    background: @dark;
    margin-bottom: -2px;
    padding-right: 3px;
}

/* SWAYNC */
#custom-swaync {
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    background: @dark;
    padding-left: 6px;
    padding-right: 6px;
    color: @off-white;
}
#custom-left3 {
    font-size: 11.5pt;
    color: @mid;
    background: @dark;
    margin-bottom: -2px;
    padding-left: 3px;
}

/* IDLE INHIBIROR */
#idle_inhibitor {
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    background: @dark;
    padding-left: 6px;
    padding-right: 6px;
    color: @off-white;
}
#custom-right5 {
    font-size: 11.5pt;
    color: @dark;
    background: transparent;
    margin-bottom: -2px;
    padding-right: 3px;
}

/* CONNECTION */
#custom-left11 {
    font-size: 11.5pt;
    color: @dark;
    background: @main-bg;
    margin-bottom: -2px;
    padding-left: 3px;
}
#custom-left10 {
    font-size: 11.5pt;
    color: @mid;
    background: transparent;
    margin-bottom: -2px;
    padding-left: 3px;
}
#network {
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    background: @mid;
    color: @off-white;
}
#custom-left9 {
    font-size: 11.5pt;
    color: @bright;
    background: @mid;
    margin-bottom: -2px;
    padding-left: 3px;
}

/* MEDIA INFO */
#custom-media {
    background-color: @main-bg;
    padding-left: 8px;
    padding-right: 8px;
}

/* OUTPUT DEVICE */
#pulseaudio {
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    background: @bright;
    color: @off-white;
}
#custom-left6 {
    font-size: 11.5pt;
    color: @dark;
    background: @bright;
    margin-bottom: -2px;
    padding-left: 3px;
}

/* BRIGHTNESS */
#backlight {
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    background: @dark;
    color: @off-white;
}
#custom-left7 {
    font-size: 11.5pt;
    color: @mid;
    background: @dark;
    margin-bottom: -2px;
    padding-left: 2px;
}

/* Keyboard */
#language {
    background: @mid;
    color: @off-white;
    padding-left: 5px;
    padding-right: 5px;
}
#custom-left8 {
    font-size: 11.5pt;
    color: @bright;
    background: @mid;
    margin-bottom: -2px;
    padding-left: 2px;
}

/* BATTERY */
#battery {
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    background: @bright;
    color: @off-white;
}

/* POWER BUTTON */
#custom-leftin2 {
    font-size: 11.5pt;
    color: @bright;
    background: transparent;
    margin-bottom: -2px;
}
#custom-power {
    color: @main-bg;
    background: @off-white;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 1);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    margin-top: 2px;
    margin-right: 4px;
    margin-bottom: 2px;
    padding-left: 10px;
    padding-right: 7px;
}


#custom-paddr {
    font-size: 11.5pt;
    color: @main-bg;
    margin-bottom: -2px;
}

#taskbar button {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0px;
}

#taskbar {
    background: @mid;
}