* {
	font-family: "JetBrainsMono Nerd Font";
	font-weight: bold;
	min-height: 0;
	/* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
	font-size: 97%;
	font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}
  
  window#waybar {
    background-color: rgba(0, 0, 0, 0);
  }
  
  .modules-left {
    background-color: #1e2030;
    border-radius: 8px;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .modules-center {
    background-color: #1e2030;
    border-radius: 8px;
    padding-right: 10px;
    padding-left: 0px;
  }
  
  .modules-right {
    background-color: #1e2030;
    border-radius: 8px;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  #custom-launcher {
    font-size: 20px;
    color: #00bfff; /* deepskyblue */
    padding-right: 10px;
  }
  
  /* Workspace */

#taskbar button,
#workspaces button {
	  color: #7f849c;
    box-shadow: none;
	  text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 1px;
}

#taskbar button:hover,
#workspaces button:hover {
	  border-radius: 10px;
	  color: #fab387;
	  background-color: @theme_base_color;
 	  padding-left: 4px;
    padding-right: 4px;
    
}

#workspaces button.persistent {
	  color: #45475a;
	  border-radius: 10px;
}

#taskbar button.active,
#workspaces button.active {
	  color: #cba6f7;
	  background-color: @theme_base_color;
  	border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;
}

#workspaces button.urgent {
	  color: #f38ba8;
 	  border-radius: 0px;
}

  #cpu,
  #memory,
  #temperature {
    font-size: 14px;
    background: #363a4f;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  #cpu {
    color: #eed49f;
    padding: 0px 10px 0px 12px;
    border-radius: 5px 0px 0px 5px;
  }
  
  #memory {
    color: #a6da95;
    padding: 0px 10px 0px 0px;
  }
  
  #temperature {
    color: #8aadf4;
    padding: 0px 12px 0px 0px;
    border-radius: 0px 5px 5px 0px;
  }
  
  #custom-window-name {
    margin-right: 10px;
    color: #ffffff;
  }
  
  #custom-pacman-update-icon {
    background-color: #8bd5ca;
    color: #181926;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  #custom-pacman-update {
    color: #8bd5ca;
    margin: 5px 10px 5px 0px;
  }
  
  
  #battery {
    color: #a6da95;
    margin-right: 5px;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

  #custom-power {
    color: #ed8796;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
  }
  
  #my_apps {
    font-size: 12px;
    background-color: #363a4f;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px 5px 5px 5px;
  }

  #bluetooth,
  #network,
  #pulseaudio,
  #backlight {
    font-size: 12px;
    background: #363a4f;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #connections {
    font-size: 12px;
  }

  #backlight {
    color: #eed49f;
    padding: 0px 5px 0px 10px;
    border-radius: 5px 5px 5px 5px;
  }

  #custom-wl-gammarelay-temperature {
    font-size: 14px;
    background: #363a4f;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #custom-wl-gammarelay-temperature {
    color: #eed49f;
    padding: 0px 10px 0px 10px;
  }

  #pulseaudio {
    color: #91d7e3;
    padding: 0px 10px 0px 10px;
    border-radius: 5px 5px 5px 5px;
  }

  #custom-right-arr {
    color: #8aadf4;
  }

  #bluetooth {
    padding: 0px 10px 0px 10px;
    border-radius: 5px 5px 5px 5px;

  }

  #network {
    color: #c6a0f6;
    padding: 0px 14px 0px 10px;
    border-radius: 5px 5px 5px 5px;
  }

  #custom-dot {
    color: #6e738d;
    padding-left: 10px;
    padding-right: 10px;
  }

  #custom-dot-alt {
    color: #a5adcb;
    padding-left: 10px;
    padding-right: 10px;
  }

  #custom-clock-icon {
    background-color: #cad3f5;
    color: #181926;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
  }

  #clock {
    color: #b4befe;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 2px;
  }

  #custom-music {
    background: #363a4f;
    border-radius: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #custom-music.Playing {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
    font-weight: bold;
    color: #fff;
  }

  #custom-music.Paused,
  #custom-music.Stopped {
    background: #161925;
  }

  #language {
    color: #f4dbd6;
    margin-right: 5px;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #custom-swaync {
    color: #f5c2e7;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 12px;
  }

  #idle_inhibitor {
    color: #b6ffcf;
    font-size: 12px;
    margin-left: 5px;
  }

/*----My apps----*/

  #custom-vesktop {
    padding-right: 9px;
    font-size: 12px;
  }

  #custom-telegram {
    padding-right: 13px;
    font-size: 12px;
  }

  #custom-thunar {
    padding-right: 13px;
    font-size: 12px;
  }

  #custom-codium {
    padding-right: 5px;
    font-size: 13px;
  }

  #custom-librewolf {
    padding-right: 13px;
    font-size: 12px;
  }

  #custom-menu {
    color: #91d7e3;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #custom-power {
    margin-top: 5px;
    margin-bottom: 5px;
  }
