/* Catppuccin Mocha V3 */

* {
	font-family: "JetBrainsMono Nerd Font";
	font-weight: bold;
	min-height: 0;
	/* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
	font-size: 97%;
	font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

@import "../waybar/style/catppuccin-themes/mocha.css";

window#waybar {
  	transition-property: background-color;
  	transition-duration: 0.5s;
  	background: #23232b;
  	border-radius: 20px;
}

window#waybar.hidden {
  	opacity: 0.2;
}

window#waybar.empty,
window#waybar.empty #window {
    background-color: transparent;
    padding: 0px;
    border: 0px;
}

#taskbar button {
	box-shadow: none;
	text-shadow: none;
  border-radius: 20px;
  padding: 0px;
  padding-left: 6px;
  padding-right: 6px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button {
	color: #23232b;
  box-shadow: none;
	text-shadow: none;
  border-radius: 20px;
  padding: 0px;
  padding-left: 6px;
  padding-right: 6px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover,
#workspaces button:hover {
	border-radius: 20px;
	color: whitesmoke;
	background-color: #23232b;
  padding: 0px;
 	padding-left: 6px;
  padding-right: 6px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 5px;
  margin-right: 5px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button.active,
#workspaces button.active {
	color: #5d5dfb;
	background-color: @theme_base_color;
  	border-radius: 20px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 2px;
    margin-bottom: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.urgent {
	color: @red;
 	border-radius: 0px;
}

/* This section can be use if you want to separate waybar modules */
.modules-left, .modules-center, .modules-right {
	background: #23232b;
 	border: 0.5px solid @overlay0;
	padding-right: 4px;
	padding-left: 4px;
	border-radius: 40px;

}

.modules-left, .modules-right {
  border: 2px solid #5d5dfb;
	padding-right: 4px;
	padding-left: 4px;
  border-radius: 40px;
}
.modules-center {
	background: #5d5dfb;
}

#custom-power {
  color: #ed8796;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 2px;
}

#battery {
  color: #a6da95;
  margin-right: 5px;
  margin-left: 5px;
}

#language {
  color: whitesmoke;
}

#pulseaudio {
  color: whitesmoke;
  margin-left: 5px;
}

#backlight {
  color: whitesmoke;
  margin-left: 8px;
}

#bluetooth,
#network {
  color: whitesmoke;
  margin-right: 5px;
  margin-top: 1px;
}

#bluetooth {
  margin-left: 10px;
}

#custom-cava_mviz {
  color: whitesmoke;
  padding-left: 5px;
}

#clock,
#custom-swaync,
#idle_inhibitor {
  color: @theme_base_color;
  margin-left: 5px;
}

#taskbar {
  margin-top: 1px;
  margin-left: -8px;
}

#custom-menu {
  color: #a2c1fe;
  margin-left: 5px;
  margin-right: 1px;
  margin-top: 0px;
}

#temperature.critical {
	background-color: #ff0000;
}

@keyframes blink {
	to {
		color: #000000;
	}
}